@import '../../../variables';

.content
{
    $indicator-width: 2px;

    display: flex;
    flex-direction: column;
    height: 100%;

    .list
    {
        overflow-x: hidden;
        padding: 0;

        &.top
        {
            flex-grow: 1;
            flex-shrink: 0;
        }

        &.bottom
        {
            flex-grow: 0;
            flex-shrink: 1;
        }

        .link
        {
            @include transition('color');

            cursor: pointer;
            position: relative;

            .indicator
            {
                @include transition('width');

                background: #FFFFFF;
                content: '';
                height: 100%;
                position: absolute;
                right: 0;
                width: 0;
            }

            &.active
            {
                .indicator
                {
                    width: $indicator-width;
                }
            }

            .icon
            {
                $font-size: 16px;
                align-items: center;
                display: flex;

                font-size: $font-size;
                justify-content: center;
            }

            .text
            {
                margin-left: $margin + $margin-extra + 1px;
                text-transform: capitalize;
            }
        }
    }
}
