<div class="content">
    <mat-nav-list class="list top">
        <mat-list-item
            class="link"
            *ngFor="let link of links.top"
            [routerLink]="link.ref"
            [routerLinkActive]="link.ref !== undefined ? 'active' : ''"
            (click)="link.func"
        >
            <span class="indicator"></span>
            <span
                class="icon"
                matListIcon
            >
                <fa-icon [icon]="link.icon"></fa-icon>
            </span>
            <span class="text">
                {{ 'PAGE.' + (link.textID | uppercase) + '.TITLE' | translate }}
            </span>
        </mat-list-item>
    </mat-nav-list>

    <mat-nav-list class="list bottom">
        <mat-list-item
            class="link"
            *ngFor="let link of links.bottom"
            [routerLink]="link.ref"
            [routerLinkActive]="link.ref !== undefined ? 'active' : ''"
            (click)="link.func"
        >
            <span class="indicator"></span>
            <span
                class="icon"
                matListIcon
            >
                <fa-icon [icon]="link.icon"></fa-icon>
            </span>
            <span class="text">
                {{ 'PAGE.' + (link.textID | uppercase) + '.TITLE' | translate }}
            </span>
        </mat-list-item>
    </mat-nav-list>
</div>
