@import '../variables';

@mixin table-row()
    {
    .row,
    &.row
    {
        background: $background;
        cursor: move;

        &:last-child
        {
            border-bottom: 0;
        }

        &.cdk-drag-placeholder
        {
            background: rgba(0, 0, 0, 0.2);
            position: relative;
            z-index: -1;

            &::before
            {
                border: 2px dashed transparentize($color: $primary, $amount: 0.2);
                box-sizing: border-box;
                content: '';
                height: 100%;
                position: absolute;
                width: 100%;
            }

            .cell
            {
                cursor: default;
                opacity: 0;
                pointer-events: none;
            }
        }

        &.header-row
        {
            @include box-shadow(0, 1);

            background: $primary;
            justify-content: flex-start;
        }

        .cell
        {
            align-items: center;

            &-order
            {
                flex-shrink: 1;
            }

            &-filename
            {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                flex-grow: 10;
                justify-content: center;

                .name
                {
                    margin-bottom: $margin;
                }

                .version
                {
                    opacity: 0.5;
                }
            }

            &-info
            {
                justify-content: flex-end;
                padding-right: 0;
            }
        }
    }
}

.tables
{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .table-container
    {
        @include table-row();

        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0 ($margin-extra / 2);
        width: 100%;

        &:first-child
        {
            margin-left: 0;
        }

        &:last-child
        {
            margin-right: 0;
        }

        .no-settings
        {
            margin-top: $margin-extra;
            text-align: center;
        }

        .header
        {
            @include box-shadow(0, 1);
            @include asymmetric-padding($extra: 3);

            height: auto;
            z-index: 1;

            .spacer
            {
                flex-grow: 1;
            }
        }

        .table
        {
            background: none;
            height: 100%;
            overflow: auto;
            width: 100%;
            z-index: 0;

            &:not(.cdk-drop-list-dragging)
            {
                .row
                {
                    &:not(.header-row)
                    {
                        .cell
                        {
                            &-info
                            {
                                .info
                                {
                                    cursor: pointer;
                                    pointer-events: all;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.cdk-drag-animating
{
    @include transition('transform', 'box-shadow');

    box-shadow: 0;
}

.cdk-drag-preview
{
    @include table-row();

    &:not(.cdk-drag-animating)
    {
        @include box-shadow(1, 1);
    }
}
