<div
    class="tables"
    cdkDropListGroup
>
    <div class="table-container">
        <mat-toolbar
            class="header"
            color="primary"
        >
            {{ 'PAGE.MODS.TABLE.ACTIVE' | translate }} [{{ activeMods.length }}]
            <div class="spacer"></div>
            <!-- <div>Modding enabled</div> -->
        </mat-toolbar>
        <div
            class="no-settings"
            *ngIf="!init || noPath"
        >
            {{ 'PAGE.MODS.ERRORS.NO_PATH' | translate }}
        </div>
        <mat-table
            #activeModsTable
            class="table"
            *ngIf="init && !noPath"
            [dataSource]="activeMods"
            [cdkDropListData]="activeMods"
            [trackBy]="trackBy"
            (cdkDropListDropped)="DroppedModActive($event)"
            cdkDropList
        >
            <ng-container matColumnDef="order">
                <mat-header-cell
                    class="cell cell-order"
                    *matHeaderCellDef
                >
                    {{ 'PAGE.MODS.TABLE.ORDER' | translate }}
                </mat-header-cell>
                <mat-cell
                    class="cell cell-order"
                    *matCellDef="let mod"
                >
                    {{ ToFixedLength(mod.order, 3) }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="filename">
                <mat-header-cell
                    class="cell cell-filename"
                    *matHeaderCellDef
                >
                    {{ 'PAGE.MODS.TABLE.FILENAME' | translate }}
                </mat-header-cell>
                <mat-cell
                    class="cell cell-filename"
                    *matCellDef="let mod"
                >
                    {{ mod.filename }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="info">
                <mat-header-cell
                    class="cell cell-info"
                    *matHeaderCellDef
                >
                    &nbsp;
                </mat-header-cell>
                <mat-cell
                    class="cell cell-info"
                    *matCellDef="let mod"
                >
                    <button
                        class="info"
                        *ngIf="mod.hasModFile"
                        (click)="OpenInfo(mod, $event)"
                        mat-icon-button
                        matSuffix
                    >
                        <fa-icon icon="info-circle"></fa-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row
                class="row header-row"
                *matHeaderRowDef="activeModsColumns; sticky: true"
            ></mat-header-row>
            <mat-row
                class="row"
                *matRowDef="let row; columns: activeModsColumns"
                cdkDragBoundary=".tables"
                cdkDrag
            ></mat-row>
        </mat-table>
    </div>

    <div class="table-container">
        <mat-toolbar
            class="header"
            color="primary"
        >
            {{ 'PAGE.MODS.TABLE.AVAILABLE' | translate }} [{{ availableMods.length }}]
        </mat-toolbar>
        <mat-table
            #availableModsTable
            class="table"
            [dataSource]="availableMods"
            [cdkDropListData]="availableMods"
            [trackBy]="trackBy"
            (cdkDropListDropped)="DroppedModAvailable($event)"
            cdkDropListSortingDisabled
            cdkDropList
        >
            <ng-container matColumnDef="filename">
                <mat-header-cell
                    class="cell cell-filename"
                    *matHeaderCellDef
                >
                    {{ 'PAGE.MODS.TABLE.FILENAME' | translate }}
                </mat-header-cell>
                <mat-cell
                    class="cell cell-filename"
                    *matCellDef="let mod"
                >
                    <div class="name">
                        {{ mod.name }}
                    </div>
                    <div class="version">
                        v{{ mod.version }}
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="info">
                <mat-header-cell
                    class="cell cell-info"
                    *matHeaderCellDef
                >
                    &nbsp;
                </mat-header-cell>
                <mat-cell
                    class="cell cell-info"
                    *matCellDef="let mod"
                >
                    <button
                        class="info"
                        (click)="OpenInfo(mod, $event)"
                        mat-icon-button
                        matSuffix
                    >
                        <fa-icon icon="info-circle"></fa-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row
                class="row header-row"
                *matHeaderRowDef="availableModsColumns; sticky: true"
            ></mat-header-row>
            <mat-row
                class="row"
                *matRowDef="let row; columns: availableModsColumns"
                cdkDragBoundary=".tables"
                cdkDrag
            ></mat-row>
        </mat-table>
    </div>
</div>
