@import '../../variables';

::ng-deep
{
    .mat-dialog-container
    {
        padding: 0;

        .mat-tab-header
        {
            @include box-shadow(0, 1);

            z-index: 2;
        }
    }
}

.dialog-content
{
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available; // sass-lint:disable-line no-vendor-prefixes
    margin: 0;
    padding: 0;

    & > .title
    {
        @include asymmetric-padding($padding, 3);
        @include box-shadow(0, 1);

        height: auto;
        z-index: 3;
    }

    .tabs
    {
        flex-grow: 1;
        overflow: hidden;

        .number
        {
            $size: 1.5em;

            align-items: center;
            background: #FFFFFF;
            border-radius: 100%;
            color: $primary;
            display: inline-flex;
            height: $size;
            justify-content: center;
            margin-right: $margin;
            width: $size;
        }

        .step,
        .review
        {
            display: flex;
            flex-direction: column;
            height: 100%;

            &.step
            {
                & > .description
                {
                    flex-grow: 1;
                    overflow: auto;
                    padding: $padding-extra;
                    text-align: justify;
                }

                .options
                {
                    @include asymmetric-margin($margin-extra);

                    display: grid;
                    grid-gap: $padding-extra;

                    .option
                    {
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;

                        .indicator
                        {
                            $min-size: 25px;

                            align-self: center;
                            justify-self: center;
                            margin-right: $margin;
                            min-height: $min-size;
                            min-width: $min-size;

                            .box
                            {
                                pointer-events: none;
                            }
                        }

                        .details
                        {
                            align-items: flex-start;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            .description
                            {
                                flex-grow: 1;
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }

            &.review
            {
                padding: $padding-extra;

                .files
                {
                    flex-grow: 1;
                    overflow: auto;
                    text-align: justify;
                }
            }
        }

        ::ng-deep
        {
            .mat-tab-label-container
            {
                pointer-events: none;
            }

            .mat-tab-body-wrapper
            {
                flex-grow: 1;
            }

            .mat-tab-disabled
            {
                .number
                {
                    background: rgba(255, 255, 255, 0.4);
                }
            }
        }
    }
}

.buttons
{
    display: flex;
    flex-direction: row;
    padding: $padding-extra;

    .spacer
    {
        flex-grow: 1;
    }
}
