<mat-dialog-content class="dialog-content">
    <mat-toolbar
        class="title"
        color="primary"
    >
        {{ mod.name }}
    </mat-toolbar>
    <mat-tab-group
        class="tabs"
        backgroundColor="primary"
        [selectedIndex]="selectedIndex"
        dynamicHeight
        mat-stretch-tabs
    >
        <mat-tab
            *ngFor="let config of configs; let i = index"
            [disabled]="!RequirementMet(config)"
        >
            <ng-template mat-tab-label><span class="number">{{ ToFixedLength(i + 1, 2) }}</span> {{ config.title }}</ng-template>
            <div class="step">
                <div class="description">
                    {{ config.description }}
                </div>
                <mat-divider></mat-divider>
                <div
                    class="options"
                    *ngIf="config.options"
                    [ngStyle]="{ 'grid-template-columns': 'repeat(' + (options(config).length < maxOptionsPerRow ? options(config).length : maxOptionsPerRow) + ', 1fr)' }"
                >
                    <ng-container *ngIf="!config.multi">
                        <mat-radio-group
                            class="option radio"
                            name="config.id"
                            *ngFor="let option of options(config)"
                            [(ngModel)]="stepForms[config.id].option"
                            (click)="stepForms[config.id].option = option.id"
                        >
                            <div class="indicator">
                                <mat-radio-button
                                    class="box"
                                    [value]="option.id"
                                >
                                </mat-radio-button>
                            </div>
                            <div class="details">
                                <div class="title">
                                    {{ option.title }}
                                </div>
                                <div class="description">
                                    {{ option.description }}
                                </div>
                            </div>
                        </mat-radio-group>
                    </ng-container>

                    <ng-container *ngIf="config.multi">
                        <div
                            class="option check"
                            *ngFor="let option of options(config)"
                            (click)="$event.preventDefault(); stepForms[config.id].options[option.id] = !stepForms[config.id].options[option.id]"
                        >
                            <div class="indicator">
                                <mat-checkbox
                                    class="box"
                                    [value]="true"
                                    [(ngModel)]="stepForms[config.id].options[option.id]"
                                >
                                </mat-checkbox>
                            </div>
                            <div class="details">
                                <div class="title">
                                    {{ option.title }}
                                </div>
                                <div class="description">
                                    {{ option.description }}
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label><span class="number">{{ ToFixedLength(configs.length + 1, 2) }}</span> {{ 'PAGE.MODS.CONFIG.REVIEW.TITLE' | translate }}</ng-template>
            <div class="review">
                {{ 'PAGE.MODS.CONFIG.REVIEW.DESCRIPTION' | translate }}:

                <ul class="files">
                    <li
                        class="file"
                        *ngFor="let file of toBeInstalled"
                    >
                        {{ file }}
                    </li>
                </ul>
            </div>
        </mat-tab>
    </mat-tab-group>
    <mat-divider></mat-divider>
    <div class="buttons">
        <button
            [disabled]="selectedIndex === 0"
            (click)="Previous()"
            mat-button
        >
            {{ 'COMMON.BACK' | translate }}
        </button>
        <button
            *ngIf="selectedIndex < configs.length"
            [disabled]="!IsComplete(configs[selectedIndex])"
            (click)="Next()"
            mat-button
        >
            {{ 'COMMON.NEXT' | translate }}
        </button>
        <button
            *ngIf="selectedIndex >= configs.length"
            (click)="Install()"
            mat-button
        >
            {{ 'COMMON.INSTALL' | translate }}
        </button>
        <div class="spacer"></div>
        <button
            mat-button
            [mat-dialog-close]="false"
        >
            {{ 'COMMON.CANCEL' | translate }}
        </button>
    </div>
</mat-dialog-content>
