// ==== PRE-THEME VARIABLES ===========================================================================================
// Transition
$transition-speed: 0.4s;
$transition-function: cubic-bezier(0.25, 0.8, 0.25, 1);
// ====================================================================================================================

// ==== THEME SETUP ===================================================================================================
@import '~@angular/material/theming';

$theme-primary: $mat-cyan 700;
$theme-accent: $mat-deep-orange 300;
$theme-warn: $mat-red 700;

@function theme-color($type: 'primary', $value: 'color')
{
    // Accent
    @if $type == 'accent'
    {
        @if $value == 'raw'
        {
            @return $theme-accent;
        }
        @else
        {
            @return mat-color(nth($theme-accent, 1), nth($theme-accent, 2));
        }
    }

    // Warn
    @if $type == 'warn'
    {
        @if $value == 'raw'
        {
            @return $theme-warn;
        }
        @else
        {
            @return mat-color(nth($theme-warn, 1), nth($theme-warn, 2));
        }
    }

    // Primary (default)
    @if $value == 'raw'
    {
        @return $theme-primary;
    }
    @else
    {
        @return mat-color(nth($theme-primary, 1), nth($theme-primary, 2));
    }
}

$primary-raw: theme-color('primary', 'raw');
$accent-raw: theme-color('accent', 'raw');
$warn-raw: theme-color('warn', 'raw');

$primary-palette: mat-palette(nth($primary-raw, 1), nth($primary-raw, 2));
$accent-palette: mat-palette(nth($accent-raw, 1), nth($accent-raw, 2));
$warn-palette: mat-palette(nth($warn-raw, 1), nth($warn-raw, 2));

$primary: mat-color($primary-palette);
$accent: mat-color($accent-palette);
$warn: mat-color($warn-palette);

$theme: mat-dark-theme($primary-palette, $accent-palette, $warn-palette);

$background: mat-color($mat-gray, 800);
$foreground: #FFFFFF;
// ====================================================================================================================

// ==== POST-THEME VARIABLES ==========================================================================================
// General
$extra-multiplier: 2;

// Spacing
$padding: 5px;
$padding-extra: $padding * $extra-multiplier;
$margin: $padding;
$margin-extra: $padding-extra;
// ====================================================================================================================

// ==== MIXINS ========================================================================================================
@mixin asymmetric-padding($size: $padding, $extra: $extra-multiplier, $swap: 0)
    {
    @if($swap == 1)
    {
        padding: ($size * $extra) $size;
    }
    @else
    {
        padding: $size ($size * $extra);
    }
}

@mixin asymmetric-margin($size: $margin, $extra: $extra-multiplier, $swap: 0)
    {
    @if($swap == 1)
    {
        margin: ($size * $extra) $size;
    }
    @else
    {
        margin: $size ($size * $extra);
    }
}

@mixin transition($items...)
    {
    $output: ();

    @each $item in $items
    {
        $output: append($output, #{$item} $transition-speed $transition-function, comma);
    }

    transition: $output;
}

@mixin box-shadow($x, $y)
    {
    box-shadow: #{3px * $x} #{3px * $y} 1px -2px rgba(0, 0, 0, 0.2), #{2px * $x} #{2px * $y} 2px 0 rgba(0, 0, 0, 0.14), #{1px * $x} #{1px * $y} 5px 0 rgba(0, 0, 0, 0.12);
}
// ====================================================================================================================
