<mat-sidenav-container
    #sidenav
    class="container"
    color="accent"
>
    <mat-sidenav
        class="icons"
        disableClose="true"
        mode="side"
        opened="true"
        hasBackdrop="false"
        fixedInViewport="true"
        width="10px"
    >
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="page">
        <mat-toolbar
            color="primary"
            class="title"
        >
            {{ 'PAGE.' + (route | uppercase) + '.TITLE' | translate }}
        </mat-toolbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

    <mat-sidenav
        class="info"
        mode="over"
        fixedInViewport="true"
        position="end"
        [(opened)]="infoOpen"
    >
        <div *ngIf="infoMod !== undefined">
            <mat-toolbar
                class="title"
                color="primary"
            >
                {{ infoMod.name }} (MENU WIP)
            </mat-toolbar>
            <div class="content">
                <strong>Author:</strong> {{ infoMod.author }}
                <br />
                <strong>Description:</strong> {{ infoMod.description }}
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>
