@import './variables';

.container
{
    height: 100%;
    width: 100%;

    .icons
    {
        @include box-shadow(1, 0);
        @include transition('width');

        background: $primary;
        border-right-color: $primary;
        width: 65px;

        &:hover
        {
            width: 150px;
        }
    }

    .page
    {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;

        .title
        {
            @include box-shadow(0, 1);
            @include asymmetric-padding($extra: 3);

            flex-shrink: 1;
            height: auto;
            z-index: 2;
        }

        .content
        {
            flex-grow: 1;
            height: 100%;
            padding: $padding-extra;
        }
    }

    .info
    {
        width: 400px;

        .title
        {
            @include box-shadow(0, 1);
        }

        .content
        {
            padding: $padding-extra;
        }
    }
}
