@import './app/variables';

@include mat-core();

*
{
    outline: none;

    &:not(input),
    &:not(button)
    {
        cursor: inherit;
        user-select: none;
    }
}

html,
body
{
    background: $background;
    color: $foreground;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.loading
{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0 0 $padding-extra;
}

@include angular-material-theme($theme);

::-webkit-scrollbar // sass-lint:disable-line no-vendor-prefixes
{
    $primary-dark: darken($background, 5%);

    width: 5px;

    &-track
    {
        background: $primary-dark;
    }

    &-thumb
    {
        background: $primary;
        border-left: 1px solid rgba(0, 0, 0, 0.2);

        &:active
        {
            background: darken($primary, 5%);
        }
    }
}

a
{
    &:not(.mat-button):not(.mat-icon-button):not(.mat-raised-button):not(.mat-tab-link) // sass-lint:disable-line force-pseudo-nesting
    {
        color: mat-color(mat-palette($mat-lime, 500));
        transition: opacity $transition-speed $transition-function;

        &:hover
        {
            opacity: 0.7;
        }
    }
}

.cdk-drop-list-dragging
{
    .cdk-drag
    {
        @include transition('transform');
    }
}

.cdk-drag-animating
{
    @include transition('transform');
}
