<div
    class="form"
    *ngIf="settingsLoaded"
>
    <mat-form-field appearance="outline">
        <mat-label>{{ 'PAGE.SETTINGS.PATH.LABEL' | translate }}</mat-label>
        <input
            [(ngModel)]="settings.path"
            placeholder="C:\..."
            (change)="SaveSettings()"
            matInput
        >
        <span
            matSuffix
            [hidden]="true"
        >
            <mat-spinner
                diameter="16"
                mode="indeterminate"
            ></mat-spinner>
        </span>
        <button
            class="folder-button"
            (click)="PickFolder()"
            mat-icon-button
            matSuffix
        >
            <fa-icon icon="folder-open"></fa-icon>
        </button>
        <mat-hint>{{ 'PAGE.SETTINGS.PATH.HINT' | translate }}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>{{ 'PAGE.SETTINGS.LANGUAGE.TITLE' | translate }}</mat-label>
        <mat-select [(value)]="selectedLanguage">
            <mat-option
                *ngFor="let language of languages; trackBy: languageTrackBy"
                [value]="language"
            >
                {{ language.text }}
            </mat-option>
        </mat-select>
        <mat-hint *ngIf="selectedLanguage && selectedLanguage.incomplete">{{ 'PAGE.SETTINGS.LANGUAGE.INCOMPLETE' | translate }}</mat-hint>
    </mat-form-field>
</div>
